# Gemini API Key
GEMINI_API_KEY=

# Firebase Configuration
FIREBASE_API_KEY=
VITE_FIREBASE_API_KEY=

# Build & Router Options
VITE_ROUTER_MODE=
BUILD_SINGLEFILE=false
DISABLE_HMR=false
NODE_ENV=development
